/* Selector universal: con el asterisco */
*{
    margin: 0%;
    padding: 0%;
}

/*Fonts LETRA*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

/* ---------- Body ---------- */
body {
    background-image: url('../img/font_page/libros_wall.jpg'); /* Agrega la imagen de fondo que desees */
    background-repeat: repeat;
    background-size: 50% 50%;
    font-family: "Montserrat", sans-serif;
    /*Le doy transparencia al fondo*/
    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(197, 188, 218, 0.7); /*rgba(255, 255, 255, 0.7);*/ /* Black with 50% opacity */
        z-index: -1;
      }
}

/* ---------- Header ----------*/
header {
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    padding-top: 1vw;
    text-align: center;
    width: 100vw;
    position: fixed;
    z-index: 1; /*traer al frente*/
}

/* Titulo */
.container-titulo {
    animation: libros-animacion 5s infinite alternate;
}

.container-titulo > h1 {
    font-size: 2.5vw;
}

.container-titulo > img {
    width: 4vw;
}

@keyframes libros-animacion {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Navbar */
nav {
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    text-align: center;
    vertical-align: middle;
    padding: 0.5vw;
}

.casita{
    width: 2.5vw; /*quiza lo achique*/
    vertical-align: -0.3vw;
}
nav > a {
    color: black;
    text-decoration: none;
    margin: 2vw;
    font-size: 2vw; /*quiza lo achique*/
}
/*hover*/
nav > a:hover{
    font-weight: bold;
}

.casita:hover{
    transform: scale(1.1);
}

/* Para que el fixed header no me tape */
main {
    padding-top: 13vw;
}

.contenido {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/*Contenido multimedia*/
.seccion-foros, .seccion-videos {
    margin: 20px 0;
}

.seccion-foros img, .seccion-videos img {
    max-width: 100%;
    width: 5vw;
    height: auto; /*view height a lo alto*/
    /*border-radius: 0% 50% 0% 50%;*/
}

/* Estilos para hacer la página responsive */
/* @media screen and (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav {
        font-size: 14px;
    }

    .contenido {
        padding: 10px;
    }
} */

/*Diseño pie de pagina*/
/* ---------- Footer ---------- */
footer{
    background: linear-gradient(to top, rgb(115, 101, 150), rgb(197, 188, 218)); /* por defecto, de arriba a abajo (to bottom) */
    padding: 1vw 0vw 1vw 0vw;
    text-align: center;
    border-radius: 0%;
}

footer > h4{
    font-size: 1.5vw;
}

footer > p {
    font-size: 1.5vw;
}

footer > div > a > img {
    height: 2vw;
}

/*Ediciones sesion Foro Egly*/
.seccion-foros ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
}

.seccion-foros li {
    flex-basis: calc(33.33% - 10px); /* 10px es un pequeño margen */
    margin-right: 10px;
}

.seccion-foros li:last-child {
    margin-right: 0;
}

.seccion-foros img {
    max-width: 100%;
    height: auto;
}

.seccion-foros video {
    max-width: 100%;
    height: auto;
}

/*maquetación con CSS Categorías del Foro */
.categorias, .video-sec {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding: 2rem;
gap: 1rem;
}

.categoria {
flex: 1;
max-width: 300px;
background-color: var(--background-color);
border: 1px solid var(--tranquil-blue);
border-radius: 5px;
padding: 1rem;
text-align: center;
transition: transform 0.3s;
}

.categoria:hover {
transform: scale(1.05);
}

.categoria, .video-sec a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    }

    
.categoria a:hover {
    color: var(--tranquil-blue);
    }

.seccion-videos ul {
list-style-type: none;
padding: 0;
}

.video-sec p {
    margin-top: 1rem;  /* Espacio entre el video y el subtítulo */
    text-align: center; /* Centrar el texto del subtítulo */
}

.video-container {
width: 560px; /* Tamaño específico */
height: 315px; /* Tamaño específico */
overflow: hidden; /* Esto es para asegurarnos de que el contenido no sobresalga */
position: relative; /* Necesario para centrar el iframe dentro */
}

.video-container video, .video-container iframe {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 100%;
height: 100%;
}
