*{
    margin: 0%;
    padding: 0%;
}

/*Fonts LETRA*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

/* ---------- Body ---------- */
body{
    background-image: url('../img/font_page/libros_wall.jpg'); /* Agrega la imagen de fondo que desees */
    background-repeat: repeat;
    background-size: 50% 50%;
    font-family: "Montserrat", sans-serif;
 
    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(197, 188, 218, 0.7); /*rgba(255, 255, 255, 0.7);*/ /* Black with 50% opacity */
        z-index: -1;
      }
}

/* ---------- Header ----------*/
header {
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    padding-top: 1vw;
    text-align: center;
    width: 100vw;
    position: fixed;
    z-index: 1; /*traer al frente*/
}

/* Titulo */
.container-titulo {
    animation: libros-animacion 5s infinite alternate;
}

.container-titulo > h1 {
    font-size: 2.5vw;
}

.container-titulo > img {
    width: 4vw;
}

@keyframes libros-animacion {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Navbar */
nav {
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    text-align: center;
    vertical-align: middle;
    padding: 0.5vw;
}

.casita{
    width: 2.5vw; /*quiza lo achique*/
    vertical-align: -0.3vw;
}
nav > a {
    color: black;
    text-decoration: none;
    margin: 2vw;
    font-size: 2vw; /*quiza lo achique*/
}
/*hover*/
nav > a:hover{
    font-weight: bold;
}

.casita:hover{
    transform: scale(1.1);
}

main {
    padding-top: 25vh;
}

/* ---------- Form ---------- */
form{
    background-color: rgb(255, 255, 255);
    width: 22vw;
    min-width: 250px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    --margin-left: calc(50% - max(250px, 22vw)/2);
    margin-left: var(--margin-left);
    box-shadow: 10px 4px 10px 10px #030303;
    border-radius: 5%;
    z-index: 1;
}

form img{
    width: 40%;
    height: 30%;
    padding: 10px;
}

form input[type="text"], input[type="password"]{
    outline: 0;
    border: 1px solid #ccc;
    width: 80%;
    padding: 10px;
}

form label{
    font-weight: 500;
    padding: 10px;
}

form button{
    margin: 3vh;
    outline: 0;
    border: 0;
    background-color: blue;
    border-radius: 20px;
    cursor:pointer;
    width: 80%;
    padding: 5px;
    transition: all .3s ease-in-out;
    text-align: center;
    color: #fff;
    font-weight: 500;
}

/* ---------- Footer ---------- */
footer{
    background: linear-gradient(to top, rgb(115, 101, 150), rgb(197, 188, 218)); /* por defecto, de arriba a abajo (to bottom) */
    padding: 1vw 0vw 1vw 0vw;
    text-align: center;
    border-radius: 0%;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer > h4{
    font-size: 1.5vw;
}

footer > p {
    font-size: 1.5vw;
}

footer > div > a > img {
    height: 2vw;
}