/* Selector universal: con el asterisco */
*{
    margin: 0%;
    padding: 0%;
}

/*Fonts LETRA*/
@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

/* ---------- Body ---------- */
body {
    background-image: url('../img/font_page/libros_wall.jpg'); /* Agrega la imagen de fondo que desees */
    background-repeat: repeat;
    background-size: 50% 50%;
    font-family: "Montserrat", sans-serif;
    /*Le doy transparencia al fondo*/
    &::before {
        content: '';
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(197, 188, 218, 0.7); /*rgba(255, 255, 255, 0.7);*/ /* Black with 50% opacity */
        z-index: -1;
      }
}

/* ---------- Header ----------*/
header {
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    padding-top: 1vw;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 1; /*traer al frente*/
}

/* Titulo */
.container-titulo {
    animation: libros-animacion 5s infinite alternate;
}

.container-titulo > h1 {
    font-size: 2.5vw;
}

.container-titulo > img {
    width: 4vw;
}

@keyframes libros-animacion {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

/* Navbar */
nav {
    background: linear-gradient(to bottom, rgb(115, 101, 150), rgb(197, 188, 218));
    text-align: center;
    vertical-align: middle;
    padding: 0.5vw;
}

.casita{
    width: 2.5vw; /*quiza lo achique*/
    vertical-align: -0.3vw;
}

nav > a {
    color: black;
    text-decoration: none;
    margin: 2vw;
    font-size: 2vw; /*quiza lo achique*/
}

/*hover*/
nav > a:hover{
    font-weight: bold;
}

.casita:hover{
    transform: scale(1.1);
}



/* ---------- Main ----------*/
/* Para que el fixed header no me tape */
main {
    padding-top: 13vw;
}

section{
    padding: 1vw;
}

/* ----- Section 1 ----- */
.container-s1 {
    display: flex;
    justify-content: space-between;
}

/* Izquierda (h2, p) */
.container-h2 {
    width: 66%;
    padding: 2vw;
    display: flex;
    align-items: center;
}

.container-h2 {
    font-size: 1.8vw;
}

.container-h2 > div > p {
    text-align: justify;
}

/* Derecha (img) */
.container-img1 {
    width: 33%;
    margin: 1vw;
    background-image: url('../img/whois_img/gente_leyendo.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 3%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15); /*creditos: https://www.cssscript.com/elegant-box-shadows/*/
    animation-name: cambiar;
    animation-duration: 15s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

/*Animacion*/
@keyframes cambiar {
    0%{background-image: url('../img/whois_img/gente_leyendo.jpg'); left: 0vw;top: 0vh;}
    33%{background-image: url('../img/whois_img/gente_leyendo_2.jpg');left: 0vw;top: 0vh;}
    66%{background-image: url('../img/whois_img/gente_leyendo_3.jpg');left: 0vw;top: 0vh;}
    100%{background-image: url('../img/whois_img/gente_leyendo.jpg');left: 0vw;top: 0vh;}
}

/* ----- Section 2 ----- */
.container-s2{
    display: flex;
     /*puedo distinguir entre row-gap y column-gap*/
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    margin-top: 4vw;
}

.container-s2 > div {
    position: relative; /*util para posicionar a su child, p*/
    width: 100%;
    /* box-shadow: 0 1px 1px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 4px 4px rgba(0,0,0,0.12),0 8px 8px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12);  */
    /*creditos: https://www.cssscript.com/elegant-box-shadows/*/
    padding:0.7vw;
}

.container-s2 img{
    width: 100%;
    height: 100%; /*si dejo auto o no pongo nada, la div es apenas mas alta que la img. No tengo idea de por que.*/ 
    /*border-radius: 4% 4% 0% 0%;
    box-shadow: 0.1vw 0.1vw 0vw 0vw rgba(153, 153, 153, 0.8);*/
}

.container-s2 p {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    background-color: rgba(197, 188, 218,0.5);
    opacity: 0;
    width: 100%;
    font-size: 1.8vw;
}

/*hover*/
.container-s2 > div:hover p {
    opacity: 0;
    animation-name: aparecer;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* Keep the final state of the animation */
    
}

/*animacion*/
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }

 /* ----- Sections 3 & 4 ----- */
.container-s3-s4 {
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    margin-top: 4vw;
}

.container-s3 {
    width: 60%;
    margin: 5vw;
    padding: 2vw;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15); /*creditos: https://www.cssscript.com/elegant-box-shadows/*/
}

.container-s4 {
    width: 40%;
    margin: 5vw;
    padding: 2vw;
    align-items: center;
    background-color: rgba(255,255,255,0.3);
    border-radius: 5%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15),0 2px 2px rgba(0,0,0,0.15),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.15); /*creditos: https://www.cssscript.com/elegant-box-shadows/*/
}

/* Margenes */
.container-s3-s4 h2, p, label, input, textarea {
    margin-bottom: 1vw;
}

.container-s3-s4 input {
    margin-left: 1vw;
}

/* Botones enviar y borrar */
.Enviar {
    margin-left: 0vw!important; /*para sobreescribir al de arriba, sin usar id, por las dudas*/
    box-shadow: 0 2px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12); /*creditos: https://www.cssscript.com/elegant-box-shadows/*/
    transition: transform 0.1s;
}

.Enviar:hover {
    transform: scale(1.02);
}

.Borrar {
    box-shadow: 0 2px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 2px 2px rgba(0,0,0,0.12),0 16px 16px rgba(0,0,0,0.12); /*creditos: https://www.cssscript.com/elegant-box-shadows/*/
    transition: transform 0.1s;
}

.Borrar:hover {
    transform: scale(1.02);
}

/* Inputs */
.container-s3-s4 input { /*No se por que no siguen automaticamente al fontsize del .container-s3-s4 */
    font-size: 1.5vw;
}

/* Textarea - comentario */
.container-textarea {
    display: flex;
    flex-direction: column;
  }
  
  #comentario { /*formateo el text area*/
    width: 100%;
    height: 10%; /*ni idea que hacer con esto*/
    resize: none;
    font-size: 1.5vw;
  }

  /* Mail */
  .container-mail { /*para agrandar el tamaño de los inputs para mail*/
    display: flex;
  }

  #mail {
    width: 52.5%; /*forma desprolija pero practica que se me ocurre de agrandar su tamaño de forma responsive*/
  }

  #mail_contacto {
    width: 100%;
  }



/* ---------- Footer ---------- */
footer{
    background: linear-gradient(to top, rgb(115, 101, 150), rgb(197, 188, 218)); /* por defecto, de arriba a abajo (to bottom) */
    padding: 1vw 0vw 1vw 0vw;
    text-align: center;
    border-radius: 0%;
}

footer > h4{
    font-size: 1.5vw;
}

footer > p {
    font-size: 1.5vw;
}

footer > div > a > img {
    height: 2vw;
}