<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, libro, lectura">
    <meta name="description" content="Club de Lectura Codo">
    <link rel="shortcut icon" href="../img/libro.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/cartelera.css">
    <title>Cartelera de Novedades - Club Bibliófilos Codo</title>
</head>
<body>
    <header>
        <div class="container-titulo">
            <h1>Club Bibliófilos Codo</h1><img src="../img/whois_img/libro.png" alt="libro">
        </div>
        <nav>
            <a href="../index.html"><img class="casita" src="../img/whois_img/hogar.png" alt="libro"></a>
            <a class="menu" href="whois.html">Quiénes Somos</a>
            <a class="menu" href="cartelera.html">Cartelera de Novedades</a>
            <a class="menu" href="foro.html">Foros</a>
            <a href="login.html">Login</a>
        </nav>
    </header>
    
        <main>

        <section>
            <div class="titulo">
                <h1>LECTURAS DEL MES</h1>
                <h2>Accede a los resúmenes haciendo clic en las imágenes</h2>
            </div>
        </section>
        

        <section class="s1">
            <div class="card">               
                <h2>Septiembre 2023</h2>
                <a href="../eventos/setiembre.html">
                    <img src="../img/novedades_img/img_1.jpg" alt=" Img portada">
                </a>
                <p>Cómo piensa el mundo, de Julian Baggini</p>               
            </div>
            
            <div class="card"> 
                <h2>Octubre 2023</h2>
                <a href="../eventos/octubre.html">
                    <img src="../img/novedades_img/img_2.jpg" alt=" Img portada">
                </a>
                <p>Cien Años De Soledad, de Gabriel García Márquez</p>
            </div>

            <div class="card">               
                <h2>Noviembre 2023</h2>
                <a href="../eventos/noviembre.html">
                    <img src="../img/novedades_img/img_3.jpg" alt=" Img portada">
                </a>
                <p>Un Mundo Feliz, de Aldous Huxley</p>               
            </div>

            <div class="card">               
                <h2>Diciembre 2023</h2>
                <a href="../eventos/diciembre.html">
                    <img src="../img/novedades_img/img_4.jpg" alt=" Img portada">
                </a>
                <p>El retrato de Dorian Gray, de Oscar Wilde</p>               
            </div>

            <div class="card">               
                <h2>Enero 2024</h2>
                <a href="../eventos/enero.html">
                    <img src="../img/novedades_img/img_5.jpg" alt=" Img portada">
                </a>
                <p>El proceso, de Franz Kafka</p>               
            </div>

            <div class="card">               
                <h2>Febrero 2024</h2>
                <a href="../eventos/febrero.html">
                    <img src="../img/novedades_img/img_6.jpg" alt=" Img portada">
                </a>
                <p>Lo que el viento se llevó, de Margaret Mitchell</p>               
            </div>
            
        </section>
        
        </main>

    <footer>
        <div>
            <h4>Club Bibliófilos Codo - Todos los Derechos Reservados Copyright © 2023</h4>
            <p>Seguinos en nuestras redes</p>
            <a href="http://www.instagram.com" target="_blank"><img src="../img/whois_img/instagram.png" alt="instagram"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="../img/whois_img/twitter.png" alt="twitter"></a>
            <a href="https://www.reddit.com" target="_blank"><img src="../img/whois_img/reddit.png" alt="reddit"></a>
        </div>
    </footer>
</body>
</html>