<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/foro.css">
    <link rel="shortcut icon" href="../img/ico_book/libro.ico" type="image/x-icon">
    <title>Club Bibliófilos Codo - Foro</title>
</head>
<body>
    <header>
        <div class="container-titulo">
            <h1>Club Bibliófilos Codo</h1><img src="../img/whois_img/libro.png" width="40vw" alt="libro">
        </div>
        <!-- Menu de navegacion -->
        <nav>
            <a href="../index.html"><img class="casita" src="../img/whois_img/hogar.png" width="30vw" alt="Inicio"></a>
            <a href="whois.html">Quiénes Somos</a>
            <a href="cartelera.html">Cartelera de Novedades</a>
            <a href="foro.html">Foros</a>
            <a href="login.html">Login</a>
        </nav>
    </header>

    <main>

    

    <div class="contenido">
        <section class="seccion-foros">
            <h2>Foros</h2>
            <ul>
                <li>
                    <div class="categoria"><a href="#">
                        <img src="../img/ico_writter/logotipo-escritor-clasico.png" alt="Escritores">
                        <p>Autores</p>
                    </a>
                    </div>
                </li>

                <li>
                    <div class="categoria"><a href="#">
                        <img src="../img/ico_mes/oct.png" alt="Tema del Mes">
                        <p>Temas del Mes</p>
                    </a>
                    </div>
                </li>

                <li>
                    <div class="categoria"><a href="#">
                        <img src="../img/ico_inter/intercambio-1.png" alt="Intercambio de Libros">
                        <p>Intercambio de Libros</p>
                    </a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    
    <div class="contenido">
        <section class="seccion-videos">
            <h2>Videos</h2>
        <ul>
            <li>
                <div class="video-sec">
                    <a href="#">
                        <div class="video-container">
                            <video src="../video/JK Rowling entrevista 60 minutos - Cree JKR en la magia.mp4" controls alt="Video 1"></video>
                        </div>
                        <p>Entrevistas Autores</p>
                    </a>
                </div>
            </li>

            <li>
                <div class="video-sec">
                    <a href="#">
                        <div class="video-container">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/_mPE-Gn9IzQ?si=XH2x_GTiXfBI-zyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <p>Reseñas de libros</p>
                    </a>
                </div>
            </li>
                </ul>
            </section>
        </div>
    </main>

      <!-- Pie de pagina -->
      <footer>
        <div>
            <h4>Club Bibliófilos Codo - Todos los Derechos Reservados Copyright © 2023</h4>
            <p>Seguinos en nuestras redes</p>
            <a href="http://www.instagram.com" target="_blank"><img src="../img/whois_img/instagram.png" alt="instagram"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="../img/whois_img/twitter.png" alt="twitter"></a>
            <a href="https://www.reddit.com" target="_blank"><img src="../img/whois_img/reddit.png" alt="reddit"></a>
        </div>
    </footer>

    <script src="../js/validacion.js"></script>

</body>
</html>