<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_libro.css">
    <title>Registrar</title>
</head>

<body>

    <header>
        <div class="container-titulo">
            <h1>Club Bibliófilos Codo</h1><img class="container-librito" src="../img/whois_img/libro.png" width="40vw" alt="libro">
        </div>
        <nav id="header_tabla">
            
        </nav>
    </header>

    <main>

        <section>
            <div class="container-form">

                <form action="">
                    <div class="entrada">
                        <label for="titulo">Titulo:</label>
                        <input type="text" name="titulo" id="titulo" placeholder="Ingresar Titulo">
                    </div>

                    <div class="entrada">
                        <label for="autor">Autor:</label>
                        <input type="text" name="autor" id="autor" placeholder="Ingresar Autor" >
                    </div>

                    <div class="entrada">
                        <label for="idioma">Idioma:</label>
                        <input type="text" name="idioma" id="idioma" placeholder="Ingresar Idioma">
                    </div>

                    <div class="entrada">
                        <label for="edicion">Edicion:</label>
                        <input type="text" name="edicion" id="edicion" placeholder="Ingresar Edicion">
                    </div>

                    <div class="entrada">
                        <label for="genero">Genero:</label>
                        <input type="text" name="genero" id="genero" placeholder="Ingresar Genero">
                    </div>

                    <div class="entrada">
                        <label for="isbn">Isbn:</label>
                        <input type="number" name="isbn" id="isbn" placeholder="Ingresar Isbn">
                    </div>

                    <div class="entrada">
                        <label for="imagen">Imagen:</label>
                        <input type="text" name="imagen" id="imagen" placeholder="Ingresar Imagen">
                    </div>

                    <div class="entrada">
                        <label for="colaborador">Colaborador:</label>
                        <input type="number" name="colaborador" id="colaborador" placeholder="Ingresar Colaborador">
                    </div>

                    <div class="entrada">
                        <button class="modificar" type="button" onclick="guardar()">Guardar</button>
                    </div>

                </form>

            </div>
        </section>

    </main>

    <footer>
        <div>
            <h4>Club Bibliófilos Codo - Todos los Derechos Reservados Copyright © 2023</h4>
            <p>Seguinos en nuestras redes</p>
            <a href="http://www.instagram.com" target="_blank"><img src="../img/whois_img/instagram.png" alt="instagram"></a>
            <a href="https://www.twitter.com" target="_blank"><img src="../img/whois_img/twitter.png" alt="twitter"></a>
            <a href="https://www.reddit.com" target="_blank"><img src="../img/whois_img/reddit.png" alt="reddit"></a>
        </div>
    </footer>

    <script src="../js/ingresar_libro.js"></script>
    <script src="../js/header.js"></script>
</body>

</html>