<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form id="loginForm">
            <label for="nombre">nombre: </label>
            <input type="text" name="nombre" id="nombre" required>

            <label for="apellido">apellido: </label>
            <input type="text" name="apellido" id="apellido" required>

            <label for="nickname">nombre de usuario (nickname): </label>
            <input type="text" name="nickname" id="nickname" required>

            <label for="email">correo electronico (email): </label>
            <input type="email" name="email" id="email" required>


            <button type="button" onclick="enviarForm()" value="enviar"></button>
        </form>
    </div>

    <script src="../static/js/login-mockup.js"></script>
</body>
</html>