<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/ico_book/libro.ico" type="image/x-icon">
    <title>Cartelera de Novedades</title>
</head>

<body>
    <header>
        <h1>Club Bibliofilos Codo</h1><img class="container-librito" src="../img/whois_img/libro.png" width="40vw" alt="libro">
    </header>

        <main>

            <!-- Menu de navegacion -->
            <nav>
                <a href="../index.html"><img class="casita" src="../img/whois_img/hogar.png" width="30vw" alt="Inicio"></a>
                <a href="whois.html">Quienes Somos</a>
                <a href="novedades.html">Cartelera de Novedades</a>
                <a href="foro.html">Foros</a>
            </nav>

        </main>

      <!-- Pie de pagina -->
        <footer>
            <div class="footer-container"></div>
                <div class="footer-column">
                <h4 class="text-foot">Club de Lectura Codo - Todos los Derechos Reservados Copyright © 2023</h4>
        </footer> 
</body>
</html>